/* Mobile styles - media query for real devices */
@media (max-width: 768px) {
    .main_nav {
        flex-direction: column;
        height: 15%;
        padding: var(--spacing-md) var(--spacing-sm);
    }
    
    .nav_header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-top: var(--spacing-xs);
    }

    .logo{
        padding: 0px;
        margin: 0px;
        flex-grow: 3;
        padding-right: var(--spacing-md);
    }

    .logo h1 {
        text-align: center;
        font-size: var(--font-fontSizes-large);
        margin-top: 0;
    }

    .logo h3{
        margin-top: 0;
        text-align: center;
        font-size: var(--font-fontSizes-small);
    }

    .main_nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: var(--spacing-sm);
        padding: var(--spacing-sm);
    }

    .main_nav ul li {
        width: 100%;
        text-align: left;
        padding: var(--spacing-xs) 0px;
        font-size: var(--font-fontSizes-small);
    }

    .menu_toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        color: var(--colors-dark-mondo-lightdark);
    }

    .menu_open {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: var(--spacing-sm);
    }

    .menu_closed {
        display: none;
    }

    .dropdown-trigger{
        margin-bottom: 0;
    }
    .dropdown-menu{
        margin-top: 0px;
    }
}

/* Mobile styles - class for Storybook */
.main_nav.mobile_nav {
    flex-direction: column;
    height: 3.5rem;
    padding: var(--spacing-md) var(--spacing-sm);
}

.mobile_nav .nav_header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.mobile_nav .logo{
    padding: 0px;
    margin: 0px;
    flex-grow: 3;
    padding-right: var(--spacing-md);
}

.main_nav.mobile_nav .logo h1 {
    text-align: center;
    font-size: var(--font-fontSizes-large);
    margin-top: 0px;
}

.main_nav.mobile_nav .logo h3{
margin-top: 0;
 font-size: var(--font-fontSizes-small);
}

.mobile_nav ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.mobile_nav ul li {
    width: 100%;
    text-align: left;
    padding: var(--spacing-xs) 0px;
    font-size: var(--font-fontSizes-small);
}

.mobile_nav .menu_toggle {
    background: none;
    cursor: pointer;
    display: flex;
    color: var(--colors-dark-mondo-lightdark);
    border:none
    }

.mobile_nav .menu_open {
    position: absolute;
    top:3rem;
    left:0;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-top: var(--spacing-sm);
    padding:var(--spacing-md) var(--spacing-md);
    background-color: var(--colors-light-merino-50);
}

.mobile_nav .menu_closed {
    display: none;
}

.mobile_nav .dropdown-menu{
        margin-top: 0px;
}