


@layer reset{
  /* reset https://piccalil.li/blog/a-more-modern-css-reset/ */
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    margin-block-end: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }
  
  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }
  
  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font-family: inherit;
    font-size: inherit;
  }
  
  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }
  
  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

}

@layer base{
  body {
    font-family: var(--font-bodyFont);
    font-size: var(--font-fontSizes-base);
    color: var(--font-fontColors-secondary);
    background-color: var(--colors-light-merino-100);
    padding:0;
  }
  h1{
    font-size: var(--font-fontSizes-heading);
  }
  h2{
    font-size: var(--font-fontSizes-base);
  }
  h3{
    font-size: var(--font-fontSizes-small);
  }
  h1, h2, h3{
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    color: var(--font-fontColors-primary);
  }
  ul{
    list-style-type: none;
  }
  .button{
    cursor: pointer;
    border: none;
    background: var(--colors-primary-juniper-500);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--radius-md);
    color: white;
  }
  .button:focus-visible{
    outline:2px solid;
    outline-offset: 2px;
  }
  .button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
  label{
    font-size: var(--font-fontSizes-base);
    color: var(--font-fontColors-primary);
  }
  input{
    margin-left: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-sm) var(--spacing-xs) var(--spacing-sm);
    border:none;
    border-bottom: 2px solid var(--colors-dark-mondo-lightestdark);
    outline:none;
    font-size: var(--font-fontSizes-base);
    background-color: transparent;
    color: var(--font-fontColors-secondary)
  }
  input:focus{
    border-bottom: 2px solid var(--colors-dark-mondo-lightdark);
  }
  input::placeholder{
    color: var(--font-fontColors-primary);
    opacity: 0.6;
    font-size: var(--font-fontSizes-base);
    font-style:italic;
  }
  .input-error input{
    border-bottom: 2px solid var(--colors-danger-red_berry-800);
  }
  .error-message{
    color: var(--colors-danger-red_berry-800);
    font-size: var(--font-fontSizes-small);
    margin-top: var(--spacing-xs);
    display: block;
  }
  .disabled{
    cursor: not-allowed;
  }
}

@layer components{
  /* Cards for displaying menu items */
  .card{
    width: 280px;
    height: 420px
  }

  .card img{
    width:280px;
    height: 330px;
  }
  .card h3{
    padding-left:var(--spacing-xs);
    margin-top: var(--spacing-md);
    font-size: var(--font-fontSizes-base);
    color: var(--font-fontColors-primary);
  }
  .card p{
    padding-left:var(--spacing-xs);
    font-size: var(--font-fontSizes-small);
    margin-top: var(--spacing-xs);
    font-weight: var(--font-weights-light);
  }

  .card .card-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .card .card-header p{
    padding-right: var(--spacing-sm);
    font-size: var(--font-fontSizes-base);
  }

  /* Navigation */
  .main_nav{
    background-color: var(--colors-light-merino-50);
    padding: var(--spacing-lg) var(--spacing-xl) var(--spacing-sm) var(--spacing-xs);
    margin:0px;
    display: flex;
    justify-content: space-between;
    
  }

  .main_nav ul{
    display: flex;
    width: 55%;
    justify-content: space-between;    
    align-items: flex-end;
    margin:0px;
    padding-bottom: var(--spacing-sm);
  }

  .logo{
    margin-bottom: var(--spacing-md);
    margin-left: var(--spacing-lg); 
    padding-top: var(--spacing-sm);
  }

  .logo h1{
    text-align: center;
    font-size: var(--font-fontSizes-heading);
  }

  .logo h2{
    margin-top: 0;
  }


  .main_nav ul li{
    /* align-self:last-baseline; */
    /* flex-grow:1; */
    text-align: right;
  }

  .main_nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--colors-merino-50);
  }

  /* Dropdowns */
  .dropdown {
    position: relative;
}

.dropdown-trigger {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: var(--colors-dark-mondo-lightdark);
  cursor: pointer;
}

.menu_toggle {

  display: none;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--colors-light-merino-50);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    transform: scale(1,0);
    transform-origin: top;
    transition: 0.2s linear 50ms ease;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1,1);
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding-top: var(--spacing-sm);
    background: var(--colors-light-merino-50);
}

.dropdown-menu li {
    padding: var(--spacing-sm) var(--spacing-md);
}

.dropdown-menu li:hover {
    background: var(--colors-light-merino-100);
}

  /* Buttons */
  .button-sm {
  font-size: var(--font-fontSizes-small);
  padding: var(--spacing-sm) var(--spacing-md);
  }

  .button-md {
    font-size: var(--font-fontSizes-base);
    padding: var(--spacing-md) var(--spacing-lg);
  }

  .button-lg {
    font-size: var(--font-fontSizes-lg);
    padding: var(--spacing-lg) var(--spacing-xl);
  }

  /* Buttons Variant: secondary */
  .button-secondary{
    background-color: var(--colors-success-norway-600);
  }
  /* Buttons Variant: outline */
  .button-outline{
    background-color: transparent;
    border: 2px solid var(--colors-primary-juniper-500);
    color: var(--colors-primary-juniper-500);
  }
  /* Buttons Variant: outline */
  .button-destructive{
    background-color: var(--colors-danger-red_berry-800);
  }

  .menu-icon{
    display:absolute;
    top:0;
    left: 0;
    cursor: pointer;
  }
}



